@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.antd-select .ant-select-selection-item-content {
  font-size: 0.75rem;
}

.antd-select .ant-select-selection-search-input,
.antd-select .ant-select-selection-item,
.ant-color-picker-trigger-text,
.ant-btn,
.ant-picker-input input {
  font-size: 0.875rem !important;
}
